<main class="main">
  <div class="game">
    <div #game class="end">
      <div class="background">
        <span class="text"></span>
      </div>
    </div>
    <div>
      <div class="container-card">
        <div #card class="card"></div>
        <div class="card-back"></div>
      </div>
      <div class="container-buttons">
        <button class="button higher" (click)="higherSelected()">Mayor</button>
        <button class="button lower" (click)="lowerSelected()">Menor</button>
      </div>
    </div>
  </div>
</main>
