.game {
  position: relative;
  width: 960px;
  height: 540px;
  background: radial-gradient(#108218, #0c6112);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Playfair Display", serif;
}

.container-card {
  position: relative;
  width: 198px;
  display: flex;
  justify-content: center;
  gap: 14px;
  margin: auto;
  margin-bottom: 40px;
}

.container-buttons {
  display: flex;
  gap: 60px;
}

.card-showed {
  position: absolute;
  top: 0;
  left: 0;
  width: 92px;
  height: 128px;
  background-image: url("../../../../../assets/games/higher-or-lower/cards.png");
}

.card {
  position: relative;
  width: 92px;
  height: 128px;
  perspective: 100px;
  transform-style: preserve-3d;

  transform: translateX(106px);

  &.show-animation {
    transition: transform 1s ease;
  }

  .front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: url("../../../../../assets/games/higher-or-lower/cards.png");
    background-position: 0 0;
    transform: rotateY(180deg);
  }

  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: url("../../../../../assets/games/higher-or-lower/card-back.png");
    transform: rotateY(0deg);
  }

  &.show {
    transform: translateX(0) rotateY(180deg);
  }
}

.card-back {
  background: url("../../../../../assets/games/higher-or-lower/card-back.png")
    no-repeat 0 100%;
  width: 92px;
  height: 128px;
}

.button-option {
  background-color: #003d42;
  height: 48px;
  border-radius: 8px;
  padding: 0 32px;
  color: white;
  text-transform: uppercase;
  border: 0;
  font-family: "Playfair Display", serif;
  cursor: pointer;

  &.right {
    background-color: #16c304;
  }

  &.wrong {
    background-color: #c30404;
    animation: shakerAnimation 250ms ease alternate;
  }
}

@keyframes shakerAnimation {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

.end {
  &.show {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    z-index: 100;
    background-color: hsla(0, 0%, 0%, 0.5);
    animation: endAnimation 1s ease forwards;
    display: flex;
    align-items: center;
    justify-content: center;

    .background {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 400px;
      height: 125px;

      &.welldone {
        background-image: url("../../../../../assets/games/higher-or-lower/big-tab-win.png");
        background-repeat: no-repeat;
      }

      &.gameover {
        background-image: url("../../../../../assets/games/higher-or-lower/big-tab-bust.png");
        background-repeat: no-repeat;
      }

      .text {
        position: absolute;
        top: 23%;
        left: 25%;
        color: white;
        font-size: 40px;
        font-weight: 700;
      }
    }
  }
}

@keyframes endAnimation {
  0% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }
}

.endgame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;

  .tab {
    position: relative;
    width: 400px;
    height: 125px;

    .text {
      position: absolute;
      top: -7px;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      font-weight: 600;
      color: white;
    }
  }
}

.button-replay {
  position: relative;
  border: 3px solid #c30404;
  border-radius: 16px;
  height: 79px;
  width: 175px;

  .background {
    position: absolute;
    top: -4px;
    left: -16px;
    z-index: 10;
    height: 87px;
    width: 200px;
  }

  .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
}
