<div class="game">
  <!-- <div #gameplay class="gameplay"></div>

  <div #endgame class="endgame">
    <div class="tab">
      <img src="assets/games/higher-or-lower/big-tab-win.png" alt="" />
      <span class="text">¡GANASTE!</span>
    </div>

    <button class="button button-replay">
      <img
        src="assets/games/higher-or-lower/button-in.png"
        alt=""
        class="background"
      />
      <span class="text">Jugar de nuevo</span>
    </button>
  </div> -->
  <!-- <div #game class="end">
    <div class="background">
      <span class="text"></span>
    </div>
  </div> -->
  <div>
    <div class="container-card">
      <div #card class="card"></div>
      <div class="card-back"></div>
    </div>
    <div class="container-buttons">
      <button class="button higher" (click)="higherSelected()">Mayor</button>
      <button class="button lower" (click)="lowerSelected()">Menor</button>
    </div>
  </div>
</div>
