.main {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  position: relative;
  background-image: url("./assets/general_background_horizontal.png");
  border-radius: 16px;

  width: 80%;
  height: 80%;
  display: flex;
}

.end {
  &.show {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    z-index: 100;
    background-color: hsla(0, 0%, 0%, 0.5);
    animation: endAnimation 1s ease forwards;
  }
}

@keyframes endAnimation {
  0% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }
}

.play {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.title {
  text-align: center;
  font-size: 80px;
  margin-bottom: 40px;
  font-family: "Caveat", cursive;
  color: #268aff;
}

.right,
.left {
  width: 50%;
}

.right,
.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  gap: 12px;
}

.row {
  display: flex;
  gap: 24px;
}

.key {
  position: relative;
  width: 44px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 32px;
  font-weight: 800;
  border: 0;
  background-color: transparent;
  font-family: "Caveat", cursive;
  color: #268aff;

  .status {
    &.right {
      position: absolute;
      top: 5px;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background: url("./assets/gameplay_letter_right.png") no-repeat 0 0%;
    }

    &.wrong {
      position: absolute;
      top: 5px;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background: url("./assets/gameplay_letter_wrong.png") no-repeat 0 0%;
    }
  }
}

.answer {
  margin-bottom: 40px;
  display: flex;
  gap: 12px;

  .letter {
    font-size: 40px;
    display: flex;
    font-family: "Caveat", cursive;
    font-weight: 800;
    color: #268aff;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: url("./assets/answer_sheet.png") no-repeat 0 100%;
  }
}

.gallow {
  position: relative;
  width: 303px;
  height: 305px;
  background: url("./assets/animation_gallow.png") no-repeat 0 0%;
}

.rope {
  position: absolute;
  left: 60%;
  top: 8px;
  width: 8px;
  height: 47px;
  opacity: 0;

  &.show {
    opacity: 1;
    background: url("./assets/animation_rope.png") no-repeat 0 0%;
    animation: ropeSprite 1s steps(2) forwards;
  }
}

@keyframes ropeSprite {
  to {
    background-position: -16px 0;
  }
}

.head {
  position: absolute;
  top: 47px;
  left: 54%;
  width: 47px;
  height: 48px;
  opacity: 0;

  &.show {
    opacity: 1;
    background: url("./assets/animation_head.png") no-repeat 0 0%;
    animation: headSprite 1s steps(2) forwards;
  }
}

@keyframes headSprite {
  to {
    background-position: -94px 0;
  }
}

.body {
  position: absolute;
  top: calc(47px + 48px);
  left: 60%;
  width: 9px;
  height: 88px;
  opacity: 0;

  &.show {
    opacity: 1;
    background: url("./assets/animation_body.png") no-repeat 0 0%;
    animation: bodySprite 1s steps(2) forwards;
  }
}

@keyframes bodySprite {
  to {
    background-position: -18px 0;
  }
}

.hand-left {
  position: absolute;
  top: calc(47px + 48px);
  left: 61%;
  width: 40px;
  height: 39px;
  opacity: 0;

  &.show {
    opacity: 1;
    background: url("./assets/animation_hand_left.png") no-repeat 0 0%;
    animation: handLeftSprite 1s steps(2) forwards;
  }
}

@keyframes handLeftSprite {
  to {
    background-position: -80px 0;
  }
}

.hand-right {
  position: absolute;
  top: calc(47px + 48px);
  left: 50%;
  width: 40px;
  height: 39px;
  opacity: 0;

  &.show {
    opacity: 1;
    background: url("./assets/animation_hand_right.png") no-repeat 0 0%;
    animation: handLeftSprite 1s steps(2) forwards;
  }
}

@keyframes handLeftSprite {
  to {
    background-position: -80px 0;
  }
}

.leg-right {
  position: absolute;
  top: 174px;
  left: 50%;
  width: 36px;
  height: 60px;
  opacity: 0;

  &.show {
    opacity: 1;
    background: url("./assets/animation_leg_right.png") no-repeat 0 0%;
    animation: legRightSprite 1s steps(2) forwards;
  }
}

@keyframes legRightSprite {
  to {
    background-position: -76px 0;
  }
}

.leg-left {
  position: absolute;
  top: 174px;
  left: 60%;
  width: 36px;
  height: 60px;
  opacity: 0;

  &.show {
    opacity: 1;
    background: url("./assets/animation_leg_left.png") no-repeat 0 0%;
    animation: legLeftSprite 1s steps(2) forwards;
  }
}

@keyframes legLeftSprite {
  to {
    background-position: -76px 0;
  }
}
