<main class="main">
  <div class="game">
    <div class="left">
      <div class="keyboard">
        <div class="row">
          <button class="key">
            q
            <span class="status"></span>
          </button>
          <button class="key">
            w
            <span class="status"></span>
          </button>
          <button class="key">
            e
            <span class="status"></span>
          </button>
          <button class="key">
            r
            <span class="status"></span>
          </button>
          <button class="key">
            t
            <span class="status"></span>
          </button>
          <button class="key">
            y
            <span class="status"></span>
          </button>
          <button class="key">
            u
            <span class="status"></span>
          </button>
          <button class="key">
            i
            <span class="status"></span>
          </button>
          <button class="key">
            o
            <span class="status"></span>
          </button>
          <button class="key">
            p
            <span class="status"></span>
          </button>
        </div>
        <div class="row">
          <button class="key">
            a
            <span class="status"></span>
          </button>
          <button class="key">
            s
            <span class="status"></span>
          </button>
          <button class="key">
            d
            <span class="status"></span>
          </button>
          <button class="key">
            f
            <span class="status"></span>
          </button>
          <button class="key">
            g
            <span class="status"></span>
          </button>
          <button class="key">
            h
            <span class="status"></span>
          </button>
          <button class="key">
            j
            <span class="status"></span>
          </button>
          <button class="key">
            k
            <span class="status"></span>
          </button>
          <button class="key">
            l
            <span class="status"></span>
          </button>
          <button class="key">
            ñ
            <span class="status"></span>
          </button>
        </div>
        <div class="row">
          <button class="key">
            z
            <span class="status"></span>
          </button>
          <button class="key">
            x
            <span class="status"></span>
          </button>
          <button class="key">
            c
            <span class="status"></span>
          </button>
          <button class="key">
            v
            <span class="status"></span>
          </button>
          <button class="key">
            b
            <span class="status"></span>
          </button>
          <button class="key">
            n
            <span class="status"></span>
          </button>
          <button class="key">
            m
            <span class="status"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="gallow">
        <div class="rope"></div>
        <div class="head"></div>
        <div class="body"></div>
        <div class="hand-left"></div>
        <div class="hand-right"></div>
        <div class="leg-left"></div>
        <div class="leg-right"></div>
      </div>
    </div>
  </div>
</main>
