.game {
  position: relative;
  width: 960px;
  height: 540px;
  background-color: #f5f5f5;
  font-family: "Caveat", cursive;
  color: #0568af;
  background-image: url("../../../../../assets/games/hangman/general_background_horizontal.png");
}

.main-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo {
    position: absolute;
    top: 50px;
    left: calc(50% - calc(418px / 2));
  }
}

.button-pause {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.pause {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .pause-background {
    position: relative;
    top: 0;
    left: 0;
    width: 563px;
    height: 523px;

    .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.top-gameplay {
  padding: 20px 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-close {
  position: absolute;
  top: 13px;
  right: 21px;
  width: 67px;
  height: 68px;
  z-index: 1000;
}

.content-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pause-settings-buttons {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.content-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.check {
  display: flex;
  align-items: center;
  color: #0568af;
  font-size: 50px;
}

.clueframe {
  position: relative;
  top: 0;
  left: 0;
  width: 284px;
  height: 53px;
  margin-bottom: 16px;

  .text {
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 100%;
    color: #0568af;
    font-size: 32px;
    text-align: center;
  }
}

.letter-hide {
  opacity: 0;
}

.letter-show {
  opacity: 1;
}

.answer {
  display: flex;
  gap: 12px;

  .letter {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    color: #0568af;
    // background-image: url("../../../../../assets/games/hangman/answer_sheet.png");
  }
}

.title {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 50px;
}

.game-content {
  height: calc(540px - 98px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.keyboard {
  margin-bottom: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  div {
    display: flex;
    gap: 10px;

    .button-key {
      position: relative;
      width: 46px;
      height: 52px;
      font-size: 32px;
      color: #0568af;
      font-family: "Caveat", cursive;
      font-weight: 700;

      .letter-right-wrong {
        position: absolute;
        top: 3px;
        left: 4px;
      }
    }
  }
}

.game-end {
  position: relative;
  width: 500px;
  height: 295px;

  .game-end-content {
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .pause-settings-buttons {
      position: static;
      width: auto;
      height: auto;
    }
  }
}
