<main class="main">
  <canvas #game width="960" height="540" id="game" (click)="main()">
    <!-- <div #game class="end">
      <div class="background">
        <span class="text"></span>
      </div>
    </div>
    <div class="left">
      <div class="container">
        <div class="answer">
          @for (item of text; track $index) {
          <div class="letter">
            @if (item.show) {
            {{ item.letter }}
            }
          </div>
          }
        </div>
        <div class="keyboard" (click)="keyPressed($event)">
          @for (key of keys; track $index) {
          <button class="key">
            {{ key }}
            <span class="status"></span>
          </button>
          }
        </div>
      </div>
    </div>
    <div class="right">
      <div #gallow class="gallow">
        <div class="rope"></div>
        <div class="head"></div>
        <div class="body"></div>
        <div class="hand-left"></div>
        <div class="hand-right"></div>
        <div class="leg-left"></div>
        <div class="leg-right"></div>
      </div>
    </div> -->
  </canvas>
</main>
