.countdown {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 72px;
  color: white;
}

.gameplay {
  height: 100%;
  padding-top: 30px;
}

.options {
  display: flex;
  gap: 40px;
}

.stars {
  margin-top: 24px;
  display: flex;
  gap: 12px;

  .icon {
    width: 40px;
    height: 40px;

    background-image: url("../media/starOutline.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hud {
  display: flex;
  align-items: center;
  justify-content: center;

  .progress-container {
    position: relative;
    width: 422px;
    height: 43px;

    .outline {
      position: absolute;
      width: 100%;
      height: 100%;
      outline-style: none;
    }

    .progress-bar {
      position: absolute;
      overflow: hidden;
      width: 100%;
      height: 100%;

      .bar {
        position: absolute;
        max-width: 414px;
        width: 422px;
        height: 100%;
      }
    }
  }
}

.answer {
  font-size: 68px;
  color: white;
  margin-top: 30px;
  margin-bottom: 44px;

  &.right {
    color: #31a328;
  }
}

.button-option {
  position: relative;
  width: 96px;
  height: 96px;

  display: grid;
  place-content: center;
  font-family: "cool-crayon";

  border-radius: 50px;

  font-size: 36px;
  color: white;
  background-color: hsla(0, 0%, 100%, 0.1);

  &.right:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 100;

    background-image: url("../media/tick.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.wrong:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 100;

    background-image: url("../media/cross.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}
