.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

.right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 16px;
  color: #b6b6b6;
  font-size: 16px;

  span {
    text-decoration: none;
  }
}

.logo {
  width: 48px;
  height: 38px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 24px;

  .menu-item {
    list-style: none;

    .menu-link {
      font-size: 16px;
      font-weight: 800;
      text-transform: capitalize;
      text-decoration: none;
      color: #121212;
    }
  }
}

.avatar {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  gap: 12px;

  img {
    width: 44px;
    height: 44px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .username {
      font-family: "Exo 2", sans-serif;
      text-align: start;
      color: #121212;
      font-size: 16px;
      font-weight: 800;
      margin: 0;
    }

    .role {
      font-family: "Exo 2", sans-serif;
      color: #b6b6b6;
      font-size: 14px;
      text-transform: capitalize;
      text-align: start;
      font-weight: 700;
      margin: 0;
    }
  }
}
