<div class="game">
  <div class="gameplay">
    <div class="tv">
      <img src="assets/games/trivia-quiz/game_tv.png" alt="" class="game-tv" />
      <img
        src="https://play-lh.googleusercontent.com/proxy/yUN1bb-QNudQPDsWHaVkw7NZEcPu6tx87xFBhjfwJSi84HAwPQaG3wfEK4562BSAPEG1NdL6f94fg_HkZEmFVoLOoT-EDhq9tZPBmNkGz87sM_oVxg=s1920-w1920-h1080"
        alt=""
        class="background-tv"
      />
    </div>
    <div class="question">These insects were originally called "FlutterBy"</div>
    <div class="answers">
      <button class="button button-answer">
        <span class="option">A</span>
        Butterfly
      </button>
      <button class="button button-answer">
        <span class="option">B</span>
        Roaches
      </button>
      <button class="button button-answer">
        <span class="option">C</span>
        Worms
      </button>
      <button class="button button-answer">
        <span class="option">D</span>
        Months
      </button>
    </div>
  </div>
</div>
