.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logout {
    color: #e32e2e;
    text-decoration: none;
}

.menu-link {
    color: #121212;
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: center;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
        font-size: 20px;
        font-weight: 600;
        margin: 0;
    }
    
    p {
        font-size: 14px;
        font-weight: 500;
        margin: 0;
    }
}