<main class="main">
  <p-toast />

  <div>
    <h1 class="title">Iniciar Sesion</h1>

    <p-dropdown
      [options]="accounts"
      [(ngModel)]="selectedAccount"
      optionLabel="name"
      name="user"
      (click)="onSelectedAccount()"
      placeholder="Elige tu cuenta"
      class="custom-dropdown"
    >
      <ng-template pTemplate="selectedItem">
        @if (selectedAccount) {
        <div class="user">
          <img src="{{ selectedAccount.pictureUrl }}" class="avatar" />
          <div class="content">
            <p class="username">{{ selectedAccount.username }}</p>
            <p class="role">{{ selectedAccount.role }}</p>
          </div>
        </div>
        }
      </ng-template>
      <ng-template let-user pTemplate="user">
        <div class="user" style="padding: 12px">
          <img src="{{ user.pictureUrl }}" class="avatar" />
          <div class="content">
            <p class="username">{{ user.username }}</p>
            <p class="role">{{ user.role }}</p>
          </div>
        </div>
      </ng-template>
    </p-dropdown>

    <brn-separator hlmSeparator class="my-4" />

    <form class="form" (submit)="login($event)" [formGroup]="loginForm">
      <label hlmLabel>
        Correo Electronico
        <input
          hlmInput
          type="email"
          placeholder="Correo Electronico"
          formControlName="email"
        />
      </label>
      @if (emailControl.invalid && (emailControl.touched || emailControl.dirty))
      { @if (emailControl.hasError('required')) {
      <p class="error">El correo electronico no puede estar vacio</p>
      } @if (emailControl.hasError('email')) {
      <p class="error">Ingrese un correo electronico valido</p>
      } }

      <label hlmLabel>
        Contraseña
        <input
          hlmInput
          type="password"
          placeholder="Contraseña"
          formControlName="password"
        />
      </label>
      @if (passwordControl.invalid && (passwordControl.touched ||
      passwordControl.dirty)) {
      <p class="error">La contraseña no puede estar vacia</p>
      }

      <button
        [disabled]="(loginForm.statusChanges | async) !== 'VALID'"
        hlmBtn
        type="submit"
        class="mt-10"
      >
        {{ buttonText }}
      </button>

      <p class="create-account">
        ¿No tienes una cuenta? <a href="/register">Registrate</a>
      </p>
    </form>
  </div>
</main>
