<main class="main">
  <p-toast position="top-center"></p-toast>
  <form class="form" (submit)="login()" [formGroup]="loginForm">
    <h1 class="title">Iniciar Sesion</h1>

    <p-dropdown
      [options]="accounts"
      [(ngModel)]="selectedAccount"
      optionLabel="name"
      name="user"
      placeholder="Elige tu cuenta"
      class="custom-dropdown"
    >
      <ng-template pTemplate="selectedItem">
        @if (selectedAccount) {
        <div class="user">
          <img src="{{ selectedAccount.avatar }}" class="avatar" />
          <div class="content">
            <p class="username">{{ selectedAccount.username }}</p>
            <p class="role">{{ selectedAccount.role }}</p>
          </div>
        </div>
        }
      </ng-template>
      <ng-template let-user pTemplate="user">
        <div class="user" style="padding: 12px">
          <img src="{{ user.avatar }}" class="avatar" />
          <div class="content">
            <p class="username">{{ user.username }}</p>
            <p class="role">{{ user.role }}</p>
          </div>
        </div>
      </ng-template>
    </p-dropdown>

    <p-divider align="center" type="solid">
      <b>O</b>
    </p-divider>

    <div class="form-field">
      <label class="label">Correo Electronico</label>
      <input
        pInputText
        class="input"
        name="email"
        placeholder="Correo Electronico"
        formControlName="email"
      />
    </div>

    <div class="form-field">
      <label class="label">Contraseña</label>
      <p-password
        [feedback]="false"
        class="custom-password"
        placeholder="Contraseña"
        name="password"
        formControlName="password"
      ></p-password>

      @if (controlPassword.getError('required')) {
      <p>La contraseña no puede estar vacia</p>
      }
    </div>

    <button pButton label="Ingresar" class="button" type="submit"></button>
  </form>
</main>
