.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-link {
    color: #121212;
    text-decoration: none;
}

.logout {
    color: #e32e2e;
    text-decoration: none;
}