.main {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #121212;
  text-align: center;
}

.game-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
