<main class="main">
  <div>
    <div class="avatar">
      <p-avatar
        image="{{ (userGithub$ | async)?.avatar_url }}"
        styleClass="mr-2"
        size="xlarge"
      ></p-avatar>
      <p class="name">{{ (userGithub$ | async)?.name }}</p>
      <p>4° A</p>
    </div>

    <div class="content">
      <h2>¿Como se juega Aritmetica?</h2>
      <p>
        Aritmetica es un juego matematico donde tenes que resolver la operacion
        matematica en el menor tiempo posible
      </p>
    </div>
  </div>
</main>
