@import "./assets/theme/theme.scss";
@import "primeicons/primeicons.css";

html {
  font-family: "Exo 2", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p-password.custom-password .p-password.p-component.p-inputwrapper {
  width: 100%;
  height: 48px;
  border-radius: 8px;

  .p-inputtext.p-component.p-element.p-password-input {
    padding: 0 20px;
    width: 100%;
  }
}

p-divider
  .p-divider.p-component.p-divider-horizontal.p-divider-solid.p-divider-center {
  margin: 20px 0;
}

// @forward "./scss/modern-normalize.scss";
// @forward "./scss/components/button.scss";
// @forward "./scss/components/dropdown.scss";
// @forward "./scss/components/input.scss";

.game {
  position: relative;
  width: 960px;
  height: 540px;

  .button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;

  .label {
    font-size: 14px;
    color: #121212;
    font-weight: 700;
  }

  input {
    display: block;
    height: 48px;
    width: 100%;
    font-size: 14px;
    padding: 0 16px;
    border: 0;
    border-radius: 8px;
    border: 1px solid hsl(210, 14%, 83%);
    color: hsl(210, 9%, 31%);
    font-family: "Exo 2", sans-serif;
    outline: 0;

    &:focus {
      border: 1px solid transparent;
      outline: 2px solid hsl(207, 90%, 54%);
      background-color: hsl(225, 90%, 97%);
    }
  }
}

.button-submit {
  display: block;
  font-family: "Exo 2", sans-serif;
  height: 48px;
  width: 100%;
  border: 0;
  background-color: hsl(207, 90%, 54%);
  color: white;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 200ms ease;

  &:hover {
    background-color: hsl(207, 75%, 54%);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
