<main class="main">
  <div class="chat">
    <div class="content">
      @for (item of chats$ | async; track $index) {
      <div
        class="message"
        [ngClass]="{ 'my-message': currentUser.username == item.username }"
      >
        <img src="{{ item.avatar }}" alt="" />
        <div>
          <div class="box-top">
            {{ item.username }}
          </div>
          <p class="message-content">
            {{ item.message }}
          </p>
        </div>
      </div>
      }
    </div>
    <div class="box">
      <div class="box-message">
        <textarea
          name=""
          placeholder="Escribe un mensaje"
          [(ngModel)]="lastMessage"
          (keydown.enter)="getKey($event)"
        ></textarea>
      </div>

      <!-- <button type="button" class="button" (click)="sendMessage()">
        <i class="pi pi-send" style="font-size: 16px; color: white"></i>
      </button> -->
    </div>
  </div>
</main>
